/* You can add global styles to this file, and also import other style files */
html,
body {
  margin: 0 auto;
  padding: 0;
}
.app {
  min-height: 100vh;
  display: grid;
  grid-template-areas:
    'header '
    'body '
    'footer';
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  grid-gap: 5px 5px;
}

.header {
  grid-area: header;
  background-color: #000000;
}

.footer {
  grid-area: footer;
  background-color: #000000;
}

.app-body {
  width: 1140px;
  margin: auto;
  grid-area: body;
  display: grid;
  grid-template-areas: 'bodyBody bodySidebar';
  grid-template-columns: 1fr 300px;
  grid-template-rows: 1fr;
  grid-gap: 5px 5px;
  height: 100%;
}

.body-body {
  grid-area: bodyBody;
  background-color: #000000;
}

.body-sidebar {
  grid-area: bodySidebar;
  background-color: #000000;
}

@media only screen and (max-width: 1140px) {
  .app-body {
    width: 100%;
  }
}
